@import url('https://fonts.googleapis.com/css2?family= família= Playfair+Display &família= Roboto:wght@100;400 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
 margin: 0:au;
 padding: 0;
 box-sizing: border-box
 text-decoration: none;
}

body {
 font-size: 100%;
 background:  #FFDCDE;
}

.cabeçalho {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 padding: 24px;
}

.cabeçalho-imagem {
 height: 72px;   
}

.cabeçalho-menu {
 display: flex;
 gap: 32px;    
}

.cabeçalho-menu-item {
 font-family: 'Roboto', sans-serif;
 color: #3F0D0D;
 font-weight: 400;
 font-size: 40;
}

.cabeçalho-menu-button {
 background-color: #FFE9E9;
 width: 80px;
 height: 20px;
 border: none;
}

.conteudo {
 border-top: 0.4px solid 3F0D0;   
}

.conteudo-principal {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space around;
}

.conteudo-principal-escrito {
 display: flex;
 flex-direction: column;
 gap: 32px;
}

.conteudo-principal-escrito-titulo {
 font-family: 'Playfair Display', serif;
 font-weight: 400;
 font-size: 35px;
 justify-content: center;
 color: #3F0D0D;    
}

.conteudo-principal-escrito-subtitulo {
 font-family: 'Roboto', sem serifa;
 font-weight: 400;
 font-size: 20px;
 justify-content: center;
 color: 996344;
}