/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8d7da; /* rosa claro */
    color: #000; /* letras pretas */
  }
  
  /* Estilos do cabeçalho */
  .cabeçalho {
    background-color: #f8d7da; /* rosa claro */
    color: #000; /* letras pretas */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Margem inferior para dividir a tela do cabeçalho */
    border-top: 2px solid #000; /* Borda superior para dividir a tela do cabeçalho */
  }
  
  .cabeçalho-imagem {
    width: 50px;
    height: 50px;
  }
  
  .cabeçalho-menu {
    display: flex;
    gap: 20px;
  }
  
  .cabeçalho-menu-item {
    color: #000; /* letras pretas */
    text-decoration: none;
  }
  
  /* Estilos do conteúdo principal */
  .conteudo {
    padding: 20px;
  }
  
  .conteudo-principal-escrito {
    margin-top: 20px;
  }
  
  /* Estilos do campo de pesquisa */
  #search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Estilos dos links de receita */
  .cabeçalho-menu-item {
    color: #000; /* letras pretas */
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .cabeçalho-menu-item:hover {
    background-color: #f0f0f0;
  }
  